body{
    background-size: cover;
    /* contain, 100%  */
}

.character{
    width: 200;
    position: absolute;
    left: 5%;
    top: 73%;
  
}
.cammello{
    width: 300px;
    position: absolute;
    left: 20%;
    top:70%  ;
}

.w-100{
    width: 100%;
}
.cammello2{
    width: 300px;
    position: absolute;
    left: 60%;
    top: 70%  ; 
}
