body{
background-size: cover;
}

.navicella{
    width: 50%;
    position: absolute;
    top: 40%;
}


.alieni{
    width: 50px;
    position: absolute;
    top: 35%;
    left: 20%;
}

.alieni2{
    width: 50px;
    position: absolute;
    top: 35%;
    left: 60%;
}