body{
background-size: cover;
}

.navicella{
    width: 50%;
    position: absolute;
    top: 40%;
}


.alieni{
    width: 50px;
    position: absolute;
    top: 45%;
    left: 100%;
}

.alieni2{
    width: 50px;
    position: absolute;
    top: 35%;
    left: 100%;
}


.alieni3{
    width: 50px;
    position: absolute;
    top: 45%;
    left: 100%;
}

.alieni4{
    width: 50px;
    position: absolute;
    top: 35%;
    left: 100%;
}


.up{
    animation: upAnim 7000ms forwards;
}
@keyframes upAnim{
    5%{
        top: 10%;
    }
    100%{
        top: 40%;
    }
}

.down{
    animation: downAnim 7000ms forwards;
}
@keyframes downAnim{
    5%{
        top: 75%;
    }
    100%{
        top: 40%;
    }
}



.alieni-walking-1{
    animation: alieniAnim 4000ms forwards;
}

@keyframes alieniAnim{
    0%{
left: 100%;
top: 30%;
    }
    
    
    100%{
top: 50%;
        left: -30%;
    }
}


.alieni-walking-2{
    animation: alieni2Anim 6000ms forwards;
}

@keyframes alieni2Anim{
    0%{
        top: 30%;
        left: 100%;
    }

    100%{
        left: -30%;
       
    }
}



.alieni-walking-3{
    animation: alieni3Anim 7500ms forwards;
}

@keyframes alieni3Anim{
    0%{
left: 100%;
top: 60%;
    }
    
    
    100%{
top: 10%;
        left: -30%;
    }
}



.alieni-walking-4{
    animation: alieni4Anim 7500ms forwards;
}

@keyframes alieni4Anim{
    0%{
left: 100%;
top: 20%;
    }
    
    
    100%{
top: 60%;
        left: -30%;
    }
}
/* 
@keyframes alieniAnim{
    0%{
      
        top: 50%;
        left: 100%;  
    }
    25%{
        top: 30%;
        transform: rotate(-35deg);
    }
    40%{
        left: 50%;
        top: 70%;
        transform: rotate(35deg);
    }
} */
