body{
    background-size: cover;
    /* contain, 100%  */
    overflow: hidden
}

.character{
    width: 200;
    position: absolute;
    left: 5%;
    top: 73%;
  
}
.jump{
    animation: jumpAnim 1000ms forwards;
}
@keyframes jumpAnim{
    0%,
    100%{
        top: 73%;
    }
    50%{
        top: 20%;
    }
}

.walking{
    animation: walkingAnim 4000ms linear forwards;
}
@keyframes walkingAnim{
    0%{
        left: 100%;
    }
    100%{
        left: -30%;
    }
}


.cammello{
    width: 300px;
    position: absolute;
    left: 100%;
    top:70%  ;
}

.w-100{
    width: 100%;
}
.cammello2{
    width: 300px;
    position: absolute;
    left: 60%;
    top: 70%  ; 
}
