body{
    background-size: cover;
    /* contain, 100%  */
}

.character{
    width: 200;
    position: absolute;
    left: 5%;
    top: 73%;
  
}
.cammello{
    width: 175;
    position: absolute;
    left: 20%;
    top: 70%  ;
}

